<div class="modal-content">
  <form id="addReview" name="addReview" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Add state change for<br>{{ vm.problemData.problemName }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="form-group">
        <label for="state" class="col-xs-12 col-sm-2 control-label">State</label>
        <div class="col-xs-12 col-sm-2">
          <select id="state" name="state" ng-model="vm.formData.state" class="form-control input-sm" value="vm.prolemData.ProblemState">
            <option>New</option>
            <option>Pending</option>
            <option>Work in progress</option>
            <option>Fixed</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-xs-12 col-sm-2 control-label">Comment</label>
        <div class="col-xs-12 col-sm-10">
          <textarea id="comment" name="comment" rows="5" ng-model="vm.formData.commentText" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-danger">Submit review</button>
    </div>
  </form>
</div>