.comment {padding-bottom: 5px;}
.panel-body.comment-container {padding-top: 0;}
.comment-header {margin-bottom: 10px;}
.commentAuthor {margin: 0 5px;}
.commentTimestamp {color: #ccc;}
#filter {margin-left: 4px;}
/*.map-container { height: 500px; }*/
#map { height: 80%; width:100%;}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.infoWindowContent {color: black}
h3.info {color: black}
html, body, .full-height {
    height: 100%;
}
#well1 {
    height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
    height: calc(15% - 20px);
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: ; /*better to decide how you want to handle this than to let the browser decide*/
}
#well2 {
    height: 80%;
    margin-bottom: 0;
    overflow: auto;
}
.navbar-inverse {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: darkred;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: crimson;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: black;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: crimson;
  color: #eeeeee;
}
.navbar-header {
    height: 30px;
}
.row .copy {
  margin: 0px auto;
  padding: 20px 20px;
  background-color: darkred;
  color: #eeeeee
}
div.panel-heading {
  background-color: darkred;
}
#logo {
  height: 30px;
}