<navigation></navigation>
<div class="container full-height">
  <page-header content="vm.pageHeader"></page-header>
  <div class="row full-height">
    <div class="col-xs-12 col-sm-8 full-height">      
      <div class="map-container full-height">
        <div ng-show="vm.showAlert" class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Attention!</strong> To register a new Problem, drag the bouncing marker to the aproximate location and click on it.
        </div>
        <div id="map"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <!--p class="lead">{{ vm.sidebar.content }}</p-->
      <div class="error">{{ vm.message }}</div>
      <div class="well well-sm" id="well1">
        <h4>Problem List
          <!--a ng-show="vm.isLoggedIn" ng-click="vm.popupProblemForm()" href="" class="btn btn-xs btn-danger pull-right">Add problem</a-->
          <small><a ng-show="vm.isLoggedIn" ng-click="vm.setNewMarker()" href="" class="btn btn-xs btn-danger pull-right">Add problem</a>
          <a ng-hide="vm.isLoggedIn" href="/#/login?page={{ vm.currentPath }}" class="btn btn-xs btn-danger pull-right">Login to add problem</a>
          </small>
        </h4>
        <div class="form-group has-feedback">
          <input class="form-control" id="filter" type="text" name="filter" ng-model="textFilter" placeholder="filter text...">
          <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div class="well" id="well2">
        <div class="row list-group">        
          <div class="col-xs-12 list-group-item" ng-repeat="problem in vm.data.problems | customSearch : textFilter">
            <h5>
              <a href="/#/problem/{{ problem._id }}">{{ problem.name }}</a>
              <small class="priority" priority-marks priority="problem.priority"></small>
              <span class="badge pull-right badge-default">
                <a href="#" ng-click="openInfoWindow($event, problem.marker)">{{ problem.distance | formatDistance }}</a></span>
            </h5>
            <div>
              <span class="label label-warning">{{ problem.category }}</span>
              <span class="label label-warning">{{ problem.state }}</span><br>
              <small>{{ problem.description }}</small><br>
              <small>{{ problem.address }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
<footer-generic></footer-generic>
