<navigation></navigation>
<div class="container full-height">
  <page-header content="vm.pageHeader"></page-header>
  <div class="row full-height">
    <div class="col-xs-12 col-sm-8 full-height">
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
      <div class="error">{{ vm.message }}</div>
      <div class="map-container full-height">
        <div id="map"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 full-height">
      <!--p class="lead">{{ vm.sidebar.content }}</p-->
      <div class="well" id="well1">
        <h3>Problem List</h3>
      </div>
      <div class="well" id="well2">
        <div class="row list-group">        
          <div class="col-xs-12 list-group-item" ng-repeat="location in vm.data.locations | filter : textFilter">
            <h4>
              <a href="/#/location/{{ location._id }}">{{ location.name }}</a>
              <small class="rating-stars" rating-stars rating="location.rating"></small>
              <span class="badge pull-right badge-default">
                <a href="#" ng-click="openInfoWindow($event, location.marker)">{{ location.distance | formatDistance }}</a></span>
            </h4>
            <p class="address">{{ location.address }}</p>
            <p>
              <span class="label label-warning label-facility" ng-repeat="facility in location.facilities">
                {{ facility }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <footer-generic></footer-generic>
</div>
