<div class="modal-content">
  <form id="addProblem" name="addProblem" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Add new Problem</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="form-group">
        <label for="name" class="col-xs-12 col-sm-2 control-label">Problem</label>
        <div class="col-xs-12 col-sm-10">
          <input type="text" class="form-control input-sm" id="name" placeholder="Enter problem name" ng-model="vm.formData.name">
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-xs-12 col-sm-2 control-label">Category</label>
        <div class="col-xs-12 col-sm-4">
          <select id="category" name="category" ng-model="vm.formData.category" class="form-control input-sm" placeholder="Select problem category">
            <option>Electrical-Power</option>
            <option>Water Supply</option>
            <option>Parks-Gardens</option>
            <option>Traffic</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="state" class="col-xs-12 col-sm-2 control-label">State</label>
        <div class="col-xs-12 col-sm-4">
          <select id="state" name="state" ng-model="vm.formData.state" class="form-control input-sm" ng-options="state.name disable when !state.active for state in vm.stateOptions">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-xs-12 col-sm-2 control-label">Description</label>
        <div class="col-xs-12 col-sm-10">
          <textarea id="description" name="description" rows="3" ng-model="vm.formData.description" class="form-control" placeholder="Enter detailed problem description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-xs-12 col-sm-2 control-label">Address</label>
        <div class="col-xs-12 col-sm-10">
          <input id="address" type="text" class="form-control input-sm" placeholder="Enter problem approximate direction" ng-model="vm.formData.address">
        </div>
      </div>
      <div class="form-group" ng-show="vm.newProblemData.isAdmin">
        <label for="priority" class="col-xs-12 col-sm-2 control-label">Priority</label>
        <div class="col-xs-12 col-sm-2">
          <select id="priority" name="priority" ng-model="vm.formData.priority" class="form-control input-sm">
            <option>3</option>
            <option>2</option>
            <option>1</option>
            <option>0</option>
          </select>
        </div>
      </div>      
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modal.closeWithoutSave()" type="button" class="btn btn-default">Close</button>
      <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel operation</button>
      <button type="submit" class="btn btn-danger">Submit new problem</button>
    </div>
  </form>
</div>